.team {
	padding: 0 89px 80px;
	background: linear-gradient(#e0f0ff 40%, #001337 40%);
	color: #001337;
}

.team__title {
	margin: 0;
	font-style: normal;
	font-weight: 600;
	font-size: 36px;
	line-height: 68px;
	text-align: center;
	letter-spacing: 0.1px;
	text-transform: uppercase;
}

.team__cards {
	list-style: none;
	margin: 0;
	padding: 0;
}

.team__card {
	max-width: 215px;
	height: auto;
	padding: 20px 20px 30px;
	text-align: center;
	background: #fff;
	border-radius: 10px;
}

.team__card-photo {
    padding-bottom: 20px;
	width: 100%;
	border-radius: 10px;
	object-fit: cover;
	object-position: center;
}

.team__card-name {
    margin: 0;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 30px;
	text-align: center;
	color: #000d26;
}

.team__card-surname {
    margin: 0;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 30px;
	text-align: center;
	color: #000d26;
}

.team__card-description {
    padding-top: 4px;
	font-style: italic;
	font-weight: 400;
	font-size: 14px;
	line-height: 19px;
	color: #009fac;
}

.team__cards-container {
	max-width: 1110px;
    margin-left: 16px;
    margin-right: 16px;
}

.team__slider-container {
	margin-top: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.team__cards-pagination {
	position: initial;
	margin-top: 26px;
}

.team__cards-container .swiper-pagination-bullet {
	background: #fff;
	width: 8px;
	height: 8px;
}

.team__cards-button {
	position: relative;
	min-width: 60px;
	height: 60px;
	background: #001337;
	box-shadow: 0px 4px 30px rgba(224, 240, 255, 0.1);
	border-radius: 36px;
}

.team__cards-button_prev {
	background-image: url('/images/arrow-left_white.svg');
	background-size: cover;
}

.team__cards-button_next {
	background-image: url('/images/arrow-right_white.svg');
	background-size: cover;
}

.team__cards-button::after {
	display: none;
}

@media (max-width: 1438px) {
    .team__cards-button {
		display: none;
	}
}

@media (max-width: 1100px) {
	.team {
		padding: 60px 39px;
		background: linear-gradient(#e0f0ff 50%, #001337 50%);
	}	

	.team__card {
		max-width: 170px;
		padding-bottom: 20px;
	}

    .team__card-photo {
		padding-bottom: 12px;
	}

    .team__card-surname {
		font-size: 14px;
		line-height: 19px;
	}

	.team__card-name {
		font-size: 14px;
		line-height: 19px;
	}

	.team__card-description {
		font-size: 12px;
		line-height: 145%;
	}

	.team__cards-container {
		margin: 0;
	}
}

@media (max-width: 800px) {
	.team__title {
		font-size: 24px;
		line-height: 33px;
	}
}

@media (max-width: 500px) {
	.team {
		padding: 40px 0;
	}

	.team__slider-container {
		margin-top: 20px;
	}

	.team__cards-container {
		margin: 0 11px;
	}

	.team__card {
		max-width: 120px;
		padding: 10px;
	}

	.team__cards-pagination {
		margin-top: 16px;
	}

    .team__card-photo {
		padding-bottom: 10px;
	}

    .team__card-surname {
		font-size: 12px;
		line-height: 16px;
	}

	.team__card-name {
		font-size: 12px;
		line-height: 16px;
        word-spacing: 30px;
	}

	.team__card-description {
        font-size: 10px;
        line-height: 14px;
	}
}
