.header {
    padding: 13px 0 13px 0;
    background-color: #000D26;
    margin: 0 auto;
}

@media (max-width: 500px) {
    .header {
        padding: 10px 0 10px 0;
    }
}

.header__container {
    max-width: 1440px;
    padding: 0 165px 0 165px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 1310px) {
    .header__container {
        padding-left: 39px;
        padding-right: 39px;
    }
}

@media (max-width: 500px) {
    .header__container {
        padding-left: 16px;
    }
}

.header__container_hidden {
    display: none;
}

.header__logo {
    height: 54px;
    width: 150px;
    cursor: pointer;
}

@media (max-width: 1070px) {
    .header__logo {
        position: relative;
        margin: 0;
        top: 50%;
        left: 40%;
    }
}
@media (max-width: 768px) {
    .header__logo {
        height: 32px;
        width: 95px;
    }
}

@media (max-width: 500px) {
    .header__logo {
        height: 24px;
        width: 71px;
        z-index: 0;
    }
}

.header__menu-button {
    display: none;
}

@media (max-width: 1070px) {
    .header__menu-button {
        padding: 0;
        margin: 0;
        display: block;
        width: 24px;
        height: 24px;
        background-image: url('../../images/menu1.svg');
        border: 0;
        background-repeat: no-repeat;
        position: absolute;
        background-position: left;
        background-color: transparent;
        cursor: pointer;
        color: white;
    }
}

.header__menu {
    align-items: center;
}

@media screen and (max-width: 1070px) {
    .header__menu {
        display: none;
    }
}


.header__list {
    margin: 0;
    padding: 0;
    width: 825px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 1070px) {
    .header__list {
        width: 320px;
        height: 340px;
        display: flex;
        gap: 17px;
        flex-direction: column;
        margin: 0;
        z-index: 10;
    }
}

@media (max-width: 768px) {
    .header__list {
        padding: 0 0 0 40px;
    }
}

@media (max-width: 500px) {
    .header__list {
        padding: 0 0 0 16px;
    }
}

.header__link {
    margin: 0;
    padding: 0;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-decoration: none;
}

.header__link:hover {
    font-weight: 600;
    line-height: 24px;
}

@media (min-width: 1070px) {
    .header__link:hover::after {
        content: "";
        display: block;
        cursor: pointer;
        width: 100%;
        padding-top: 15px;
        border-bottom: 2px solid #009FAC;
    }
}

@media (min-width: 1069px) {
    .header__link:hover {
        border: aqua;
    }
}

.header__burger {
    display: none;
}

@media (max-width: 1070px) {
    .header__burger {
        display: none;
        max-height: 492px;
        max-width: 320px;
        background-color: #000D26;
        margin: 0;
        padding: 0;
        align-items: center;
        z-index: 0;
        position: absolute;
        top: 0;
        left: 0;
    }
}

.header__burger_opened {
    display: grid;
    max-width: 320px;
    height: 100%;
}

.header__burger-logo {
    height: 32px;
    width: 95px;
    margin: 0;
    position: absolute;
    top: 10px;
    left: 39px;
}

@media (max-width: 500px) {
    .header__burger-logo {
        height: 24px;
        width: 71px;
        left: 16px;
        z-index: 0;
    }
}
.header__burger-menu {
    padding: 0;
    margin: 0;
}

@media (max-width: 1070px) {
    .header__burger-menu {
        margin-left: 40px;
    }
}
@media (max-width: 768px) {
    .header__burger-menu {
        display: flex;
        padding: 0;
        margin: 0;
    }
}


@media  (max-width: 1070px) {
    .header__burger-close {
        width: 32px;
        height: 32px;
        position: absolute;
        top: 12px;
        right: 16px;
        border: 0;
        background-image: url('../../images/close button.png');
        background-repeat: no-repeat;
        background-position: center;
        background-color: transparent;
        cursor: pointer;
        color: #FFFFFF;
    }
}
@media  (max-width: 768px) {
    .header__burger-close {
        width: 24px;
        height: 24px;
    }
}

