.about {
	padding: 80px;
	background-color: #001337;
	color: #fff;
}

.about__cards-container {
	max-width: 1150px;
	margin: 0 15px 0 20px;
}

.about__slider-container {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
}

.about__card-pin {
	width: 30px;
	height: 40px;
	position: absolute;
	right: -10px;
	top: -15px;
}

.about__title {
	margin: 0;
	font-style: normal;
	font-weight: 600;
	font-size: 36px;
	line-height: 68px;
	text-align: center;
	letter-spacing: 0.1px;
	text-transform: uppercase;
}

.about__text {
	max-width: 907px;
	margin: 30px auto;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 30px;
	letter-spacing: 0.1px;
}

.about__cards {
	list-style: none;
	margin: 10px 0 0;
	padding: 0;
}

.about__card {
	position: relative;
	max-width: 320px;
	min-height: 330px;
	padding: 20px 20px 30px;
	background: #e0f0ff;
	border-radius: 10px;
}

.about__card-date {
	font-style: italic;
	font-weight: 400;
	font-size: 14px;
	line-height: 19px;
	color: #009fac;
}

.about__card-title {
	margin: 8px 0 20px;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 30px;
	color: #001337;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	text-overflow: ellipsis;
	overflow: hidden;
}

.about__card-text {
	margin: 0;
	padding-top: 20px;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 19px;
	color: #000d26;
	border-top: 1px solid #009fac;
	text-overflow: ellipsis;
	overflow: hidden;
}

.about__cards-pagination {
	position: initial;
	margin-top: 26px;
}

.about__cards-container .swiper-pagination-bullet {
	background: #fff;
	width: 8px;
	height: 8px;
}

.about__cards-button {
	position: relative;
	min-width: 60px;
	height: 60px;
	background: #001337;	
	box-shadow: 0px 4px 30px rgba(224, 240, 255, 0.1);
	border-radius: 36px;
}

.about__cards-button_prev {
	background-image: url("/images/arrow-left_white.svg");
	background-size: cover;
}

.about__cards-button_next {
	background-image: url("/images/arrow-right_white.svg");
	background-size: cover;
}

.about__cards-button::after {
	display: none;
}

@media (max-width: 1100px) {
	.about__cards-button {
		display: none;
	}

	.about__card {
		max-width: 304px;
		min-height: 310px;
	}

	.about {
		padding: 60px 0 60px 39px;
	}

	.about__cards-container {
		margin: 0;
	}
}

@media (max-width: 800px) {
	.about__title {
		font-size: 24px;
		line-height: 36px;
	}

	.about__text {
		max-width: 690px;
		padding-right: 20px;
		margin: 30px 0;
		font-size: 14px;
		line-height: 20px;
	}
}

@media (max-width: 500px) {
	.about {
		padding: 40px 0;
	}

	.about__cards-container {
		margin: 0 11px;
	}

	.about__card {
		max-width: 258px;
		min-height: 240px;
		padding: 16px;
	}

	.about__cards-pagination {
		margin-top: 16px;
	}

	.about__title {
		font-size: 16px;
		line-height: 22px;
	}

	.about__text {
		padding-left: 20px;
		margin: 12px 0 20px;
		font-size: 12px;
		line-height: 16px;
	}

	.about__card-date {
		font-size: 12px;
		line-height: 145%;
	}

	.about__card-title {
		margin: 8px 0 12px;
		font-size: 14px;
		line-height: 19px;
	}

	.about__card-text {
		padding-top: 12px;
		font-size: 12px;
		line-height: 16px;
	}
}
