.about {
	padding: 80px;
	background-color: #001337;
	color: #fff;
}

.about__cards-container {
    max-width: 1150px;
    margin: 0 15px 0 20px;
}

.about__slider-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.about__card-pin {
	width: 30px;
	height: 40px;
	position: absolute;
	right: -10px;
	top: -15px;
}

.about__title {
	margin: 0;
	font-style: normal;
	font-weight: 600;
	font-size: 36px;
	line-height: 68px;
	text-align: center;
	letter-spacing: 0.1px;
	text-transform: uppercase;
}

.about__text {
	max-width: 907px;
	margin: 30px auto;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 30px;
	letter-spacing: 0.1px;
}

.about__cards {
	list-style: none;
	margin: 10px 0 0;
	padding: 0;
}

.about__card {
	position: relative;
	max-width: 320px;
	min-height: 306px;
	padding: 20px 20px 30px;
	background: #e0f0ff;
	border-radius: 10px;
}

.about__card-date {
	font-style: italic;
	font-weight: 400;
	font-size: 14px;
	line-height: 19px;
	color: #009fac;
}

.about__card-title {
	margin: 8px 0 20px;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 30px;
	color: #001337;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	text-overflow: ellipsis;
	overflow: hidden;
}

.about__card-text {
	margin: 0;
	padding-top: 20px;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 19px;
	color: #000d26;
	border-top: 1px solid #009fac;
}

.about__cards-pagination {
	position: initial;
	margin-top: 26px;
}

.about__cards-container .swiper-pagination-bullet {
	background: #fff;
	width: 8px;
	height: 8px;
}

.about__cards-button {
    position: relative;
	width: 60px;
	height: 60px;
	background: #001337;
	box-shadow: 0px 4px 30px rgba(224, 240, 255, 0.1);
	border-radius: 36px;
}

.about__cards-button::after {
	display: none;
}

